# Ignore everything with "gitignore" in the name ( other than the .gitignore file )
*gitignore*
!.gitignore

# Cargo 
/target
**/*.rs.bk
Cargo.lock

# IntelliJ Files
/.idea
/*.iml

# VSCode files
.vscode

# Misc
**/.DS_Store
